[2021-08-20 16:41] smksnutmeg opened #2 "Can we support turning on/off metrics?"
We have built a proxy for unleash and we scrape metrics differently.
`https://API_HOST/feature_flags/client/metrics` will return a 404 for us.
Can we make it optional to fire metrics?

[2021-08-20 16:47] ivarconr commented on #2
Yes makes sense. Underlaying JS SDK already have an option for that. Up for a PR?

[2021-08-23 08:43] smksnutmeg commented on #2
Yeah sure will prep one :)

[2021-08-26 10:34] smksnutmeg opened #3 "No Unit tests?"
Hey we would really like to use this, but there are no tests and it is quite new so we are quite hesitant to consume it in production. I am happy to contribute some tests, would like to know your preference on testing. Jest and React Testing Library?

[2021-09-27 07:11] samanthaburboz opened #5 "Getting following error when trying to add in React app"
Property 'storage' is missing in type '{ url: string; clientKey: string; refreshInterval: number; appName: string; environment: string; }' but required in type 'IConfig'.ts(2741)
FlagProvider.d.ts(9, 5): 'storage' is declared here.
FlagProvider.d.ts(3, 5): The expected type comes from property 'config' which is declared here on type 'IntrinsicAttributes & IFlagProvider & { children?: ReactNode; }'

[2021-09-27 07:27] FredrikOseberg commented on #5
Hi. Thanks for reporting, this property should not be required. You can get around it for now with '@ts-ignore', but we will fix the types in an upcoming release.

[2021-09-27 07:29] FredrikOseberg opened #6 "Types should be retrieved from unleash-proxy-client-js"
Currently the react client specifies it's own types. We want to re-use the types from unleash-proxy-client-js in order to avoid synchronization issues.

[2021-09-27 09:18] ivarconr commented on #5
I thin #7 should solve it.

[2021-10-12 21:25] ivarconr commented on #2
solved via #7

[2021-10-12 21:25] #2 closed

[2021-10-19 08:51] RamonGebben opened #9 "`unleash-proxy-client` not listed as a peer dependency"
With v0.1.1 this package started using the types from `unleash-proxy-client` however it doesn't list `unleash-proxy-client` as a peer dependency making the types `any` when not installed.

[2021-10-19 09:21] ivarconr commented on #9
Basically you can do "export type { IConfig }" in the entrypoint.

On Tue, 19 Oct 2021 at 11:15, Ramon Gebben ***@***.***> wrote:

[2021-10-25 08:52] #9 closed, assigned to nobody

[2021-11-01 08:51] FredrikOseberg commented on #3
Fixed in #14

[2021-11-01 08:51] #3 closed

[2021-11-11 17:30] ericledongebeneva opened #18 "Is it possible to use this sdk with React Native?"
I have issue with `cannot read property setItem of undefined`.

I saw that I can use a custom store there: https://github.com/Unleash/unleash-proxy-client-js#custom-store

But I can't find where to do it in your code.

[2021-11-30 19:31] jfairley opened #22 "Feature Request: Expose the client for direct use"
I like what you've done, making feature flags accessible via hooks, however since it's tied to React Context, it's only available to components. I use redux in my app, so some of my code needs to know about feature flags other than components and hooks. I'd like to be able to use the hooks for components _and_ access the client directly.

I think in order to not have two instances of the proxy cli

[2021-12-12 05:25] santhosh-challa opened #25 "regarding the documentation for using the custom activation strategy"
I am struggling to update the context in case of using a custom activation strategy. I went through the documentation and did not find any examples there. There exists one example for Node though. It was mentioned that clients provide the abstraction for using the custom activation strategies, but I could not figure out how. If there are any pointers for the same would be greatly helpful. For now,

[2021-12-13 08:22] #22 closed

[2021-12-13 12:05] rsoliveira2018 commented on #25
@santhosh-challa I am also looking for a way to work with the strategies defined in the Unleash UI and I have found none so far. Can you show me somehow they way you are dealing with the strategies in the frontend? Thanks in advance.

[2021-12-15 10:31] KeisBabis opened #28 "getAllToggles not exposed"
It looks like the proxy-client-react does not implement getAllToggles method available in the unleash-proxy-client. Is this intentional or are there any plans to have that in the future?

[2021-12-16 10:24] FredrikOseberg commented on #25
Hi. In order to create a custom strategy for the client side you need to add it to the [unleash-proxy](https://github.com/Unleash/unleash-proxy). It will accept a `customStrategies` field or environment variable: UNLEASH_CUSTOM_STRATEGIES_FILE that takes an array of paths to exported javascript strategies. Are you running your own proxy?

<br class="Apple-interchange-newline">

[2021-12-16 10:24] FredrikOseberg commented on #25
Is this related to custom strategies?

[2021-12-16 11:20] lnmp4000 opened #29 "flagsReady boolean not set"
I'm running an SPA using a local instance of the unleashed proxy as detailed in the documentation, connecting to the unleashed cloud test instance.
https://app.unleash-hosted.com/demo/api/

The first time I enter my application, i.e. with a clear cache, the flags load and the `flagsReady` flag correctly is set to `true`.

However, if I refresh my SPA, the `flagsReady` flag is not set to true.
Clea

[2021-12-16 11:25] rsoliveira2018 commented on #25
Hi, @FredrikOseberg. Nope. I had misunderstood and by now we have made it work with the standard strategies. Thanks anyway.

[2021-12-16 11:27] santhosh-challa commented on #25
Thanks for the pointer, I will check that. Is that documented somewhere? Currently, we are running our won proxy.

[2021-12-16 11:51] FredrikOseberg commented on #25
I think you have found a weakness in our documentation and I have alerted our excellent community manager @thomasheartman  who is currently working on updating this. In the meantime, I've looked at the code and it seems that if you provide a filepath to file that exports an array of instantiated strategies that should work. Something like this:

[code]

[2021-12-16 12:08] FredrikOseberg commented on #29
I'm looking into this, but so far I can't reproduce. Tried with both our demo app and a fresh CRA template app. Do you have a reproducible example?

[2021-12-16 13:25] lnmp4000 commented on #29
It may have been caused by me incorrectly setting `undefined` as the `userId` in the following call.

[code]
I corrected that particular issue and now the flag seems to be working as expected.

[2021-12-16 13:36] FredrikOseberg commented on #29
Ok, thanks for the info. Closing this for now. Feel free to reopen later if you find there is an issue.

[2021-12-16 13:36] #29 closed

[2021-12-16 13:38] FredrikOseberg commented on #28
As of 1.0.2 the react proxy client re-exports the UnleashClient from the unleash-proxy-client library and accepts an unleashClient parameter in the flagProvider. This means that you can use the client directly to call the getAllToggles method. Does that solve your issue?

[2021-12-16 13:38] FredrikOseberg commented on #25
No problem. Closing this for now, if you still have issues please let me know.

[2021-12-16 13:38] #25 closed

[2021-12-23 11:13] thomasheartman commented on #25
Hey, folks! Just wanted to chime in and say that the updated documentation is well underway, but due to Christmas holidays it likely won't be released until January. In the meantime, feel free to check out [the PR](https://github.com/Unleash/unleash/pull/1205 "Add more docs on custom strategies and the proxy") and [the prerendered update](https://unleash-docs-git-docs-proxy-and-custom-strategies-u

[2021-12-23 12:08] santhosh-challa commented on #25
Hi @thomasheartman thanks for your efforts in making the documentation great!. I just quickly looked at it. Everything looks good! I have a doubt only at the below statement in  "[How to use custom activation strategies](https://unleash-docs-cz8f9orai-unleash-team.vercel.app/how-to/how-to-use-custom-strategies)" document:

You mentioned that:

I felt a little disconnected here. If we are running t

[2021-12-23 12:10] thomasheartman commented on #25
@santhosh-challa Yeah, that's great input! I was wondering about that too. Thanks for letting me know; I'll sort it out 😄

[2022-01-04 09:14] thomasheartman commented on #25
@santhosh-challa Thanks again for the input 🙏🏼 I've added an extra [section on using custom strategies with the proxy when running it via Node](https://docs.getunleash.io/how-to/how-to-use-custom-strategies#step-3-b-node) now. Thanks for helping us make the docs better. And any more feedback you've got is always welcome 😄

[2022-01-22 18:30] ChrisLFieldsII opened #34 "this.toggles.find is not a function"
I am using this pkg in a react-native app.

I have configured the `storageProvider` exactly as mentioned in the README to use `AsyncStorage`

I randomly notice an error in development. I took a screenshot of the error [here](https://drive.google.com/file/d/1ykBDvzADD2_sxeZwceL-D76rKt_zfIL1/view?usp=sharing)

It seems that sometimes, `this.toggles` is a `string` when an `array` is expected.

I veri

[2022-01-23 07:53] ivarconr commented on #34
Hi, thanks for reaching out!

I think the example must be improved a bit to also do the JSON parse on get.

[code]

[2022-01-24 16:13] ChrisLFieldsII commented on #34
Hey @ivarconr,

Yes! This sounds like the fix.

Thanks for your help on this matter.

I am closing this issue.

[2022-01-24 16:13] #34 closed

[2022-01-28 22:08] nadishan opened #36 "React Native support"
Is this library currently supported for React Native?

[2022-01-28 22:15] #36 closed

[2022-02-04 13:32] pvinis opened #37 "handle HMR gracefully"
when using this library, when HMR reloads, I see double requests on the network tab. and when it reloads another time, I see triple requests.

This should not be happening.

[2022-02-04 13:33] pvinis opened #38 "add `unleash-proxy-client` as dep"
`unleash-proxy-client` is now a devDep, and it should be an actual dep, since it is used for the client.

[2022-02-21 22:58] FredrikOseberg commented on #38
@pvinis It's bundled as a part of the package when built with webpack, rendering the need for being an actual dependency moot - hence the devDependency.

[2022-02-21 22:58] #38 closed

[2022-02-21 23:01] FredrikOseberg commented on #37
@pvinis As far as I know that is how HMR works. See this theKasheys answer in this [issue](https://github.com/gaearon/react-hot-loader/issues/930). Or if you know something I don't, please enlighten me and I'll be happy to have a discussion on this.

[2022-02-21 23:03] #28 closed

[2022-02-22 22:29] marjak93 opened #40 "Usage with next.js"
Hello, apologies if this is the wrong place to post this.

We're in the process of integrating unleash with our next.js applications. We've set up proxies externally and gotten up and running. We've solved some issues with specifically `fetch` and `localStorage` not being available during SSR by extending the unleash provider with our own, like this:

[code]

[code]

However, this feels very hacky

[2022-02-23 13:05] FredrikOseberg commented on #40
@marjak93 We do have some recommendations. Are you looking to prefetch the feature toggles on the server side? Example getServerSideProps function (downside being that you have to wait for the API call):

[code]

For the FlagProvider you can follow the same suit and use the exported InMemoryStorageProvider and provide an alternative fetch implementation based on the environment. Here's an example

[2022-02-23 19:40] marjak93 commented on #40
Thank you! We don't plan to prefetch toggles server-side yet. But maybe in the future?

Your suggestion for passing `InMemoryStorage` to the `FlagProvider` worked wonders!

Thank you for your help 👍

[2022-02-23 19:40] #40 closed

[2022-03-02 17:44] jfairley opened #41 "Sourcemap warnings from webpack 5 (via CRA 5)"
I recently upgraded my app to `create-react-app` v5, which uses `webpack` v5 internally and the `source-map-loader`. The new `source-map-loader` is spewing warnings about the sourcemaps included in `unleash-proxy-client`.

More specifically, what it's unhappy about is that the sourcemaps reference the source files, but those source files are not included in the bundle.

Currently there is no way t

[2022-03-03 21:21] jtaaa opened #42 "useUnleashedContext does not expose key context members"
Hi 👋

As far as I can tell, this package does not currently support a way to extract the current value of all flags. This is useful for providing context for A/B testing and analytics. There also seems to be no way to access the underlying unleashed js SDK client which exposes the `getAllToggles` method which would suffice for the described use-case. Lmk if I'm wrong and there is already a way to

[2022-03-04 21:18] jdelucaa opened #43 "Conditionally render react <Route> element with useFlag"
I am trying to use `useFlag` to conditionally render a react `<Route>` element, and I have the route configured to go to a `Not Found` page when the route doesn't match any defined `<Route>`, so while the flag status check is pending, the `Not Found` component appears on the screen for an instant and then as soon as the flag is evaluated the correct `<Route>` element is rendered.

My AppRouter:

[

[2022-03-07 10:35] thomasheartman commented on #43
Hey! 👋🏼

Great question! And yes, if what you want is to know that the flags are ready, you can use the `useFlagStatus` hook, which returns an object with a `flagsReady` property 😄

You can check out the ["Defer rendering until flags are fetched" section of the readme](https://github.com/Unleash/proxy-client-react#defer-rendering-until-flags-fetched) for a more detailed usage example.

Does that p

[2022-03-07 11:07] thomasheartman commented on #42
Hey, @jtaaa 👋🏼

Thanks for the input! I've got a few followup questions:

By "all flags", do you mean "all flags that exist on the Unleash server" or "all flags that are enabled for this user"?

What exactly is it you're looking for here? There may be another way of getting what you want. Have you had a look at the [impression data feature](https://docs.getunleash.io/advanced/impression-data), for

[2022-03-07 13:13] jdelucaa commented on #43
Oh, I totally missed that part in the documentation, my bad! Let me try it...

[2022-03-07 13:13] jdelucaa commented on #43
Oh, I totally missed that part in the documentation, my bad! Let me try it...

[2022-03-07 13:19] jdelucaa commented on #43
That's what I was looking for, thanks! I am closing the issue now. ❤️

[2022-03-07 13:19] #43 closed

[2022-03-07 18:07] jtaaa commented on #42
thanks for the detailed response @thomasheartman! that covers it

[2022-03-09 07:41] thomasheartman commented on #42
Great; glad to hear it 😄 I'll close this issue for now, then. Feel free to reopen it if you think there's more to do ☺️

[2022-03-09 07:41] #42 closed

[2022-03-15 08:13] FredrikOseberg commented on #41
@jfairley Happy to receive a PR. Removing the sourcemaps from the distributed bundle seems like the most efficient way to go here.

[2022-03-16 23:31] jtaaa opened #45 "Optionally only start unleash client if created via config"
Currently the `FlagProvider` always starts the client when it is mounted. I propose that it should only start the client if the client was created in `FlagProvider` via config passed through props. The creator of the client would be responsible for starting and stopping the client independent of the `FlagProvider` mounting.

One use case is delaying starting the client until custom properties of t

[2022-03-23 19:00] EdwardDrapkin opened #46 "Please expose FlagContext in the exported package so it can be consumed directly."
There is currently no way to consume the FlagContext.  Even `useUnleashContext` only exposes one piece of it.

[2022-03-24 09:40] FredrikOseberg commented on #46
Hi Edward. I'm curious to know more about what your need is for exposing the FlagContex. Are you planning to build your own FlagProvider? The `useUnleashContext` is different from the react context in that it exposed a method that you can use to update the values that you communicate to the proxy. The rest of the FlagProvider methods are exposed through single hooks like `useFlag` or `useVariant`.

[2022-03-24 09:57] #45 closed

[2022-03-25 00:11] EdwardDrapkin commented on #46
I wound up creating my own client instance, passing that to the context, and using that instead.  It doesn't feel great having to use both the proxy client and the react client, but it gets the job done so I was able to be unblocked.

Basically we have a flow where a user logins in, and then the login returns information we use for an activation strategy, and we need the data to be available in th

[2022-03-25 08:29] mkholjuraev opened #48 "useFlagsStatus hook breaks the page."
I would like to use this hook for delaying component render untill flags are fetched. But it breaks the page complaining that object destruction `const { flagsReady, flagsError } = useContext(FlagContext);` while FlagContext is set to null initially.

[2022-03-29 09:11] thomasheartman commented on #48
Hey, @mkholjuraev 🙋🏼

I think you may be trying to use the wrong hook. To delay the rendering of a component until the flags are ready, you should use the `useFlagsStatus` hook (as [shown in the readme](https://github.com/Unleash/proxy-client-react#defer-rendering-until-flags-fetched)), _not_ the `useContext` hook.

Does that do what you want?

[2022-04-06 21:46] FredrikOseberg commented on #46
@EdwardDrapkin

Yeah, that makes sense. While I can't see anything wrong with explicitly exposing the context, something like a `useClient` hook might be better, and give us more flexibility on what to expose in the future. It might be that at a later point we'll want to use something internally through the context, that we don't want to expose publicly.

I would be happy to receive a PR creating

[2022-04-07 11:20] jebax opened #50 "Use with next.js / SSR"
Hi there,

In my next.js app, I currently use `unleash-client` in my server middleware and a custom implementation of `unleash-proxy-client` in my components. I pass down the server-side flags and use them as initial state, then initialize the proxy client in a `useEffect` and override the flags. This allows me to use feature flags during SSR, then continue checking them during CSRs.

I'd like to

[2022-04-12 10:55] jebax commented on #50
that looks great, thanks! i'll keep an eye out for the next release.

[2022-04-12 10:59] thomasheartman commented on #50
Perfect! I'm glad I could be of help 😄  I'll close this issue for now, then. Please don't hesitate to open another issue if you come across anything else!

[2022-04-12 10:59] #50 closed

[2022-04-12 13:37] thomasheartman commented on #50
Just a little update here: the new (major) version is due out very soon now. But if you need something right away, there is a [beta release](https://www.npmjs.com/package/@unleash/proxy-client-react/v/1.1.0-beta.0) out already 💁🏼

[2022-04-13 09:16] #46 closed

[2022-04-22 16:37] christian98 opened #53 "Bundled for Target `node`"
### Describe the bug

When i try to build my react app (using `react-scripts@5.0.1`) i get the following error:

[code]
(Complete logs down below)

### Steps to reproduce the bug

1. Create a new project with CRA and `react-scripts@5` (Using webpack v5 is important here)
2. Install this package (v2)
3. Try building the react project

### Expected behavior

No error ;)

### Logs, error output, etc.

[2022-04-22 21:30] FredrikOseberg commented on #53
Thanks! Looks like this is due to webpack upgrading their major version causing breaking changes in how nodejs deps were previously handled. I will take your comments into considerations and find out how we will tackle this.

[2022-04-23 09:05] christian98 commented on #53
Alright, thanks.

[2022-04-23 10:59] FredrikOseberg commented on #53
If you have a solution ready that will solve this issue and work with server side rendering solutions, feel free to submit a PR.

[2022-04-25 14:35] #41 closed

[2022-04-25 16:57] lapa182 commented on #50
@thomasheartman Could you point out what's the version we need to install to fix this? I installed `2.0.0` and I'm still having the same issue :(.

[2022-04-25 21:15] thomasheartman commented on #50
Hi, @lapa182 ! 👋🏼  It should be in v2.0.0. Can you tell me what the issue you're having is? Do the new FlagProvider options not work or is there something else?

[2022-04-26 14:50] FredrikOseberg commented on #53
@christian98 Can you update to `3.0.0-beta.0`? It should solve the issue.

[2022-04-26 16:59] christian98 commented on #53
Looks promising. I will try tomorrow. Thanks in advance.

[2022-04-27 07:52] christian98 commented on #53
Nice! I think this does the trick. It seems to work now.

The only things i get are these Sourcemap warnings from `unleash-proxy-client`. But these should be fixed with the next release of that package, no?

[code]

Apart from that everything seems to work smoothly. Thank you!

[2022-04-27 08:52] FredrikOseberg commented on #53
Nice. These webpack warnings will be fixed shortly, I added a fix yesterday in the base client [here](https://github.com/Unleash/unleash-proxy-client-js/pull/82)

I will update this client with these changes and release the official version shortly.

[2022-04-27 08:54] #53 closed

[2022-04-27 11:21] chainalert-bot opened #55 "ChainAlert: npm package release (3.0.0) has no matching tag in this repo"
Dear [@unleash/proxy-client-react](https://npmjs.com/package/@unleash/proxy-client-react) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (3.0.0) of [@unleash/proxy-client-react](https://npmjs.com/package/@unleash/proxy-client-react) was published without a matching tag in this repo**.

As part of our ef

[2022-04-28 07:03] #55 closed

[2022-04-28 07:04] #37 closed

[2022-04-28 11:55] FredrikOseberg commented on #53
@christian98 3.0.0 is released.

[2022-05-18 09:34] lapa182 commented on #50
@thomasheartman Sorry for not replying early, it wasn't using 2.0.0, had a blip with the lock file. 🤦

[2022-05-18 10:16] thomasheartman commented on #50
@lapa182 No worries; I'm glad you got it working! 😄

[2022-05-19 07:24] mcchrish opened #57 "Vite: Minified React error in production build"
### Describe the bug

This library is hit by a very common issue in Vite ESModule - CommonJS Interop. The problem is best describe in this issue: https://github.com/vitejs/vite/issues/2139

### Steps to reproduce the bug

1. Use Vite and use the react template.
2. `import FlagProvider from "@unleash/proxy-client-react";`
3. Build the app `npm run build && npm run preview`;

### Expected behavior

[2022-05-19 08:23] nunogois commented on #57
Hi @mcchrish thanks for opening the issue and providing detailed information.
Can you confirm that the problem goes away when you `import { FlagProvider } from "@unleash/proxy-client-react";` instead of using the default export?

If that's the case we'll update the docs accordingly and maybe phase out this default export at a later major version (only use named exports).

[2022-05-19 08:30] mcchrish commented on #57
Hi @nunogois, yes that's exactly how I worked around it.

[2022-05-19 16:56] #57 closed

[2022-05-31 11:46] aalemayhu opened #60 "Support for React 18"
### Describe the feature request

We want to use Unleash in a project which uses React 18 and are seeing the following messages in the console. Is there any plans to upgrade to latest React version?
[code]

Thanks.

### Background

_No response_

### Solution suggestions

_No response_

[2022-06-01 09:14] olav commented on #60
Hello, thanks for the report!

This library does not call `ReactDOM.render` itself, so those warnings would have to be fixed in the application's code.

We should update the example code in `README.md` to use `createRoot`.

[2022-06-02 11:57] #60 closed

[2022-07-06 14:48] harris-jacob opened #66 "Yarn berry: pnp incompatibility"
### Describe the bug

We are getting the following error when trying to migrate to yarn pnp (which no longer supports implicit dependencies like flat node_modules does):

[code]

### Steps to reproduce the bug

1. start a yarn pnp project
2. add this package

### Expected behavior

I think this issue is just because react & react-dom are listed as`devDependencies` instead of a `peerDependencies`

[2022-07-08 08:07] FredrikOseberg commented on #66
Hi. Thanks for reporting this, we'll look into this early next week.

[2022-07-11 08:24] Tymek commented on #66
Related issue: https://github.com/Unleash/unleash/pull/1584

[2022-07-12 20:00] madhurgarg71 commented on #57
Hi @nunogois I am still facing this issue with webpack production build, dev mode is working fine. I am getting the below error:
<img width="877" alt="image" src="https://user-images.githubusercontent.com/7683225/178583211-a1595775-b19d-4fd8-94a0-4447bf14d216.png">

I have tried both default and named import.

[2022-07-13 07:18] Tymek commented on #66
@harris-jacob I couldn't reproduce the issue in blank Yarn Berry project with PnP enabled. Can you share more details? What is you order of operations? Seems like you use `v1.0.4`, did you try update to the latest version?

[2022-07-13 14:57] nunogois commented on #57
Hi @madhurgarg71 - Created a simple CRA demo to try and reproduce this issue, but was unable to:
 - https://github.com/nunogois/proxy-client-react-demo-cra
 - https://proxy-client-react-demo-cra.vercel.app/

Would be perfect if you could share an example/steps so we can reproduce it on our side 🙂

[2022-07-14 10:33] madhurgarg71 commented on #57
Thanks for the demo ! @nunogois  - I can't share the example because it looks like a problem with my project dependencies. I have a custom webpack setup in my project. Does it depend on any specific react version? I am using **React@16.x**. This is happening only with the react SDK; when I tried using directly the javascript SDK it's working fine in prod mode as well but loses the reactivity. I am

[2022-07-14 13:17] madhurgarg71 commented on #57
@nunogois  here you go

Webpack - https://gist.github.com/madhurgarg71/72fe1e06741f6c41cda7a6fda91a3710
Package.json - https://gist.github.com/madhurgarg71/0ade6734a2a43d85af9a554fff2b7c89

[2022-07-14 13:55] madhurgarg71 commented on #57
@nunogois  Hey @nunogois, this is resolved now; it was a problem with my code only. Thanks for all the help 🙏🏻

[2022-07-14 19:08] harris-jacob commented on #66
Yes you're right i've tried reproducing in a smaller repo but am unable to. We have a fairly large monorepo setup so the issue could be coming from elsewhere (I just assumed from the error message it was a missing peer dependency). We've actually given up attempting PnP now due to lots of similar errors. Will close this issue (out of curiosity, is there are reason you don't declare react as a peer

[2022-07-14 19:08] #66 closed

[2022-07-18 09:59] Tymek commented on #66
The fact that package managers handle it in a different way is a factor. We can reasonably expect that you add this package to a React project, not React to a project with this package. If there is any braking change that will limit compatibility of this package with new version of React, we will probably use `peerDependecy` to signal an issue, otherwise it doesn't provide much value.

[2022-07-25 19:32] Maxim-Filimonov opened #68 "Mock provider for testing"
### Describe the feature request

I would like to request mock provider which can be used in unit tests for components relying on unleash-client.

### Background

I'm testing components which are relying on useFlag hooks. I probably can hack it with mocking useFlag function but its a very hacky approach I feel.

### Solution suggestions

As mentionedSomething like https://github.com/launchdarkly/j

[2022-07-27 15:05] christian98 commented on #68
We are already mocking the UnleashClient like this:
[code]

We are essentially extending the default client class by adding some jest-mocking functionality. This is probably not the most elegant solution, but it works for our needs. Maybe it is helpful for you and others? This way we don't have to deal with mocking the hooks or the Context at all. If anyone has a better solution, or there is a "na

[2022-07-27 15:18] christian98 opened #69 "`unleash-proxy-client` version constraint too tight"
### Describe the feature request

Currently, we cannot update `unleash-proxy-client` to v2.0.2 because the peerDependency in this package only allows v2.0.1 and nothing else:
[code]

Would it be possible to support a version constraint for the whole major of v2 like:
[code]

### Background

We try to keep up with most of the new versions released by third-party dependencies we are using. But curre

[2022-07-28 08:13] nunogois commented on #69
Hi @christian98 - Many thanks for bringing this to our attention.
https://github.com/Unleash/proxy-client-react/pull/70 should address this from now on.

[2022-07-28 08:13] #69 closed

[2022-07-28 08:15] christian98 commented on #69
Nice! That was quick. Thank you very much!

[2022-07-28 08:16] nunogois commented on #68
Hi @Maxim-Filimonov and @christian98 - Thank you for your input!
We addressed this in https://github.com/Unleash/proxy-client-react/pull/70 by exporting the FlagContext. Can you please confirm that this helps with this specific use-case?

Many thanks 🙂

[2022-07-29 11:46] Maxim-Filimonov commented on #68
Yes, it's working now. Thank you!
I created MockProvider like this:
[code]

[2022-07-29 11:46] #68 closed

[2022-08-12 13:28] pedromoraisf opened #73 "Problems with library built-in types (TS1005)"
### Describe the bug

After installing the library, when using the `useUnleashContext` function, I am getting an error related with internal types of this library .

### Steps to reproduce the bug

1. Run `npm i --save unleash-proxy-client @unleash/proxy-client-react`
2. Import `useUnleashContext` in any file

### Expected behavior

_No response_

### Logs, error output, etc.

[code]

### Screensh

[2022-08-17 05:42] sjaanus commented on #73
Hey @pedromoraisf . I created an example project based on your setup, but could not reproduce this TS error. Here it is https://github.com/sjaanus/proxy-client-react-73. Does this repository also throw you the same error? Hopefully we will catch the cause of your issue. :smiley:

[2022-08-18 12:34] pedromoraisf commented on #73
Hey @sjaanus, how are you?

I managed to resolve the errors. For the error in the issue description, I got the resolution by upgrading to TypeScript `3.9.10` (previously it was at version `3.7.4`).

Then the following error started happening:
![Screenshot from 2022-08-16 15-45-28](https://user-images.githubusercontent.com/55749387/185395783-0784ed3b-27c1-4f9b-b6a0-749392de1d37.png)

The solution w

[2022-08-19 05:44] sjaanus commented on #73
@pedromoraisf Awesome to hear you got it working. If you have any more issues in future, feel free to write us again. :smiley:

[2022-08-19 05:44] #73 closed

[2022-08-24 06:51] elisechant commented on #50
Just following this thread. It's not clear to me here how [this code sample](https://github.com/Unleash/proxy-client-react/issues/50#issuecomment-1096487959) resolves the SSR compat issue. Can you explain?

[2022-08-24 07:16] elisechant commented on #68
I propose this be reopened, and request that an official mock provider be provided.

[2022-09-05 10:36] thomasheartman commented on #50
@elisechant Thanks for the input 😄 You're right in that it doesn't solve all SSR issues, but (at least if I understood everything correctly), it _does_ address the specific issue mentioned in the OP. That said, the comment you linked is a more thorough explanation of everything.

Putting it in the readme would be helpful, indeed! Part of the reason why we haven't done that yet, is that we don't ha

[2022-09-19 17:47] melloware opened #76 "Unleash: unable to fetch feature toggles TypeError: q.randomFillSync is not a function"
### Describe the bug

**React 18.2.0**
**unleash/proxy-client-react: 3.3.0**

I have a very simple App using Create React App and I have following your instructions exactly from here: https://docs.getunleash.io/sdks/proxy-react

AS soon I hit my page I can see the error in the console and my page does not render.

[code]

### Steps to reproduce the bug

Simply run a Create React App app and try an

[2022-09-19 18:50] melloware commented on #76
The error only occurs when Enable Impression Data is enabled.

![image](https://user-images.githubusercontent.com/4399574/191093208-2ee96588-1086-4471-bfce-640903f2d7b5.png)

[2022-09-22 20:25] melloware opened #77 "Duplicate Proxy Calls"
### Describe the bug

Using latest React SDK I see the Proxy be query two times constantly.

![image](https://user-images.githubusercontent.com/4399574/191844055-2dc7c926-1be7-42b0-bc42-49dc6061c601.png)

### Steps to reproduce the bug

Just run React app with proxy and watch the F12 network traffic.

### Expected behavior

Only 1 call every 15 seconds

### Logs, error output, etc.

_No response_

[2022-09-23 08:39] thomasheartman commented on #76
Hey, @melloware! Thanks for reporting this 🙌🏼  I'll make sure we look into this! But from what you're saying, it appears that impression data is a likely culprit. Let us get back to you later today or on monday?

[2022-09-23 08:52] sighphyre commented on #77
Hmm, this looks odd, thanks for raising this one. I'll add this to our list of things to look into next week

[2022-09-23 09:44] FredrikOseberg commented on #77
@melloware Is this happening in development or production?

[2022-09-23 10:27] melloware commented on #76
Thank you!  Yes it seems similar to an older ticket I found related to impression data so when I turned it off it started working so I assumed its similar to that old issue.

[2022-09-23 10:27] melloware commented on #77
i am in development mode right now.

[2022-09-23 10:28] melloware commented on #77
i wasn't sure if this was a problem with React SDK or the client Proxy SDK so I reported it in both.

[2022-09-23 11:48] FredrikOseberg commented on #77
Thanks for the clarification! I think this is not a bug with this project, but actually how hot module reloading works according to [this issue](https://github.com/gaearon/react-hot-loader/issues/930).

I will close this issue for now, feel free to re-open if you disagree.

[2022-09-23 11:48] #77 closed

[2022-09-23 15:00] damiangreen opened #78 "useFlag breaks server side"
### Describe the bug

### Describe the bug

Our app is both SSR and client side rendered and as such we need to use both `@unleash/proxy-client-react`, as well as `unleash-client` `unleash-proxy-client`

`TypeError: Cannot read properties of null (reading 'isEnabled')`

To get this working we need to do something along these lines
[code]

However on initial server render it throws  which would the

[2022-09-23 15:01] damiangreen opened #79 "Create a useFlags hook that enumerates all flags"
### Describe the feature request

### Describe the feature request

We would like to report in the UI a dynamic list of *all* flags used
Currently we'd need to do something along the lines of

### Background

[code]

And im not sure its possibly to iterate through an array and dynamically make hooks.

### Solution suggestions

whereas ideally it'd be good to return an array or record of key value

[2022-09-23 22:36] melloware commented on #77
What is interesting about this is it starts happening even if I load my app fresh so its not like I have done any hot reloads or anything?

Also it looks like the Hot Reload library is no longer needed as Fast Refresh is already included in Core React right?  See: https://github.com/facebook/react/issues/16604

[2022-09-23 22:43] melloware commented on #77
I actually think to be  good citizen you should be calling STOP on unmount as well like this..

[code]

[2022-09-23 22:48] FredrikOseberg commented on #77
Are you using react in strict mode? [See this issue](https://github.com/facebook/react/issues/24425)

[2022-09-23 22:52] FredrikOseberg commented on #77
Good idea. Feel free to open a separate issue or contribute a PR if you'd like. Otherwise I'll try to get to it next week.

[2022-09-23 22:52] melloware commented on #77
Yep confirmed its REact 18 Strict Mode causing the issue!!!

  So what happens is render gets called twice to make sure you are being a good citizen with your renders.    I have fixed this in other projects where they were not handling the renders correctly.

Like this one I reported in `use-between` and he fixed it: https://github.com/betula/use-between/issues/33

[2022-09-23 22:53] melloware commented on #77
OK i will submit a PR.

[2022-09-23 22:54] FredrikOseberg commented on #78
How have you set up the flag provider when using useFlag? The error message suggests that there is no running client defined. Are you using the useFlag function in a component that is outside the render tree of the flag provider?

[2022-09-23 22:56] melloware opened #80 "React 18 Strict Mode"
Opening this ticket as follow up to: https://github.com/Unleash/proxy-client-react/issues/77

[2022-09-26 09:24] Tymek commented on #79
For disabled toggles we will need https://github.com/Unleash/unleash-proxy/issues/97

[2022-09-26 12:07] damiangreen commented on #78
I managed to get it working by using the notes in https://github.com/Unleash/proxy-client-react/issues/40#issuecomment-1048761755
So i'll close

[2022-09-26 12:07] #78 closed

[2022-09-26 13:21] thomasheartman commented on #76
Hey, again! 👋🏼

I tried reproducing this now, but wasn't able to. I created a new CRA, added the proxy client etc and the react client, but didn't have any issues. I didn't create a ref because that apparently doesn't work with function components, but I had no other issues, with or without impression data. What version of Unleash and the proxy are you using?

Do you have any other bits of informa

[2022-09-26 14:57] melloware commented on #76
OK i just updated to proxy client 2.2.1 and now I can not reproduce this issue either.  Maybe it was this ticket that fixed this issue: https://github.com/Unleash/unleash-proxy-client-js/issues/111

[2022-09-26 14:57] #76 closed

[2022-10-05 12:29] #80 closed

[2022-10-11 00:56] elisechant commented on #79
Yeah a convenience like this with any checks/types etc would be good:

[code]

[2022-10-11 22:02] elisechant commented on #36
Refer to https://github.com/Unleash/proxy-client-react/issues/18

[2022-10-11 22:18] elisechant commented on #66
For others, this can be worked around in .yarnrc.yml [packageExtensions](https://yarnpkg.com/configuration/yarnrc/#packageExtensions):

.yarnrc.yml:

[code]

Of course, adjust for the versions you are targeting.

[2022-10-14 09:33] codebyshennan opened #86 "Integration with NextJS"
### Describe the bug

I've tried to set-up Unleash on an existing NextJS repository, following the steps in the [quickstart](https://docs.getunleash.io/sdks/proxy-react) guide:

 without creating a custom-server, as denoted [here](https://github.com/Unleash/next-unleash), is there another way to configure a nextjs app to accept unleash flags?

### Steps to reproduce the bug

[code]

The unleash co

[2022-10-14 09:34] wongshennan opened #87 "Integration with NextJS"
### Describe the bug

I've tried to set-up Unleash on an existing NextJS repository, following the steps in the [quickstart](https://docs.getunleash.io/sdks/proxy-react) guide:

### Steps to reproduce the bug

[code]

The unleash configs are as follows:
[code]

### Expected behavior

_No response_

### Logs, error output, etc.

[code]

### Screenshots

_No response_

### Additional context

withou

[2022-10-17 06:46] andreas-unleash commented on #86
Hi @wongshennan , thanks for creating the issue, I will bring it up with the team and get back to you

[2022-10-18 09:48] thomasheartman commented on #87
Closing this as a duplicate of #86

[2022-10-18 09:49] #87 closed

[2022-10-18 09:57] thomasheartman commented on #86
Hey, @wongshennan 🙋🏼 Thanks for opening the issue:

I think the base issue at hand here is that Next tries to initialize the client during its server-side rendering. However, `window.fetch` is not available in that context. Instead, you need to provide the client with an alternate `fetch` implementation, such as `node-fetch`. You'll also need to provide a replacement storage provider.  This is bes

[2022-10-20 13:21] #79 closed

[2022-10-27 18:33] nandoofz opened #89 "Expose setContextField from client"
### Describe the feature request

In the `unleash-proxy-client-js` [documentation](https://github.com/Unleash/unleash-proxy-client-js#how-to-use-the-client-as-a-module) it is possible to update only one context property as seen in the image:
<img width="627" alt="image" src="https://user-images.githubusercontent.com/2110047/198351466-ad5fb487-939a-4d56-a30c-ad69734769a0.png">

Although it is possi

[2022-10-28 10:04] david-bezero opened #90 "Leak in useFlag"
### Describe the bug

the `useEffect` call in `useFlag` registers listeners on the client but has no teardown defined. This means that over time, as components which check flag statuses are added and removed, the number of listeners will increase, gradually increasing memory use and reducing app performance (and causing react to complain about "setState called on unmounted component" whenever the

[2022-10-28 11:12] thomasheartman commented on #89
Hey, @nandoofz 🙋🏼 Thanks for opening the issue and for the suggestion. Overall, I think this sounds very sensible, and I quite like your last suggestion of using an object for setting multiple context fields at the same time 🙌🏼

Considering this is already possible to do today, I don't think we can dedicate too much time to it right now, but if you'd be willing to provide a PR, we'd be happy to wo

[2022-10-31 13:35] thomasheartman commented on #90
Got it! Yeah, that makes sense to me. But I've got some good news: I think we've already got a (draft) PR in progress that fixes this, so it shouldn't be around for much longer! I'm just waiting for the PR number and I'll add it to this issue. I'll get back to you on that when I know more 😄

[2022-10-31 13:41] thomasheartman commented on #90
This is addressed in PR #39. It's been quiet for a while, but there's not much left to do, apparently. No promises, but we'll try and finish it off shortly.

[2022-10-31 13:46] thomasheartman commented on #90
@david-bezero In fact, if you're willing, would you be interested in having a look at the PR and see if you want to finish it off? we'll try and get to it this week, but can't make any promises due to other workloads, so if you'd be willing to step in, we would be very grateful 😇

[2022-10-31 14:00] david-bezero commented on #90
can't guarantee I'll get time to take over the PR but if I do, I'll take a look.

I think there's actually a second (unrelated) small bug where the value of `flagRef` isn't being updated in the `ready` function. I think the impact would be that if a `useFlag` is used before the client is ready, and the flag is currently turned ON, then it won't respond if the flag later gets turned OFF (unless it'

[2022-11-01 13:12] thomasheartman commented on #90
Sure thing 🙌🏼

Oh, that's real interesting! If you think that's still an issue in the PR, would you mind just chiming in with that info? Even if you don't have the time to take over the PR, that'd be a nice extra fix if we could get it done 😄

[2022-11-13 09:22] yarinsa opened #91 "Props of FlagProvider is not exported"
### Describe the bug

We want to have our own "FlagProvider" and we want to extend the original props, in case you guys add some properties to it, the interface will be up to date. The problem "IFlagProvider" is not exported.

### Steps to reproduce the bug

_No response_

### Expected behavior

_No response_

### Logs, error output, etc.

_No response_

### Screenshots

_No response_

### Additio

[2022-11-14 20:53] FredrikOseberg commented on #91
I don't see a reason why we shouldn't export that. Would you mind setting up a PR? Otherwise I'll see if I can get it into the next sprint. @yarinsa

[2022-11-16 08:05] yarinsa opened #92 "Unleash created infinite loop when proxy server is down"
### Describe the bug

Unleash FlagProvider accepts: startClient, config.

We are passing "startClient={false}" until we have the proxy server setted up.
The problem is that even when passing "startClient" false Unleash still tries to access the server and infinity (caused infinite loop in our app & to crush)

### Steps to reproduce the bug

Wrap your app with the following:

[code]

[Reproduction]

[2022-11-16 14:30] yarinsa commented on #92
Yes. That's was part of the bug.
startClient is false. But the provider still wraps the app.
When user authentication status is changed updateContext is called anyway.
I would expect updateContext to do nothing if startClient=false.

[2022-11-16 14:37] FredrikOseberg commented on #92
I think the problem is that the core library is emitting an event when the call fails, and we are listening on that event in this SDK. When we call updateContext that immediately triggers a new fetch, which fails, emits and events and the cycle continues. Let me verify that this is what is happening before I publish a fix.

[2022-11-16 15:15] yarinsa commented on #92
I think so. How can I verify this? It looks & sounds like our issue :)

[2022-11-16 15:49] #92 closed

[2022-11-16 15:58] FredrikOseberg commented on #92
I've merged a fix. Could you try version: `3.4.1-beta.1`

[2022-11-16 16:02] yarinsa commented on #92
Sure I will try tomorrow if that's ok

[2022-11-16 16:13] FredrikOseberg commented on #92
Of course. Thanks!

[2022-11-17 08:05] yarinsa commented on #92
@FredrikOseberg Looks great! Indeed solved the issue.
One more little question (maybe this is as intended). If I pass enableClient={false} I still see one request going to to our proxy. I am fine with this either way as long as it's happening only once.
I also did the following if startClient=false. I am not sure if it got impact.

![Screen Shot 2022-11-17 at 10 04 25](https://user-images.githubus

[2022-11-21 05:51] Maxim-Filimonov commented on #68
Thanks! Updated it.